@import '../../css/colors.scss';

.logo-backdrop {
   height: 100%;
   display: flex;
   background: $green;
   align-items: center;
   justify-content: center;
   //border-right: 1px solid $grey;
   h1 {
      //height: 100%;
   	font-size: 20px;
   	//margin: 15px;
      //margin-right: 20px;
      padding: 20px;
   	color: white;
      font-weight: normal;
   }
}
