@import '../../css/colors.scss';

.navbar {
   display: flex;
   flex-direction:row;
   height: 100%;
   justify-content: left;
   align-items: center;
   div {
      height: 100%;
      color: $black;
      cursor: pointer;
      font-size: 1em;
      justify-content: center;
      align-items: center;
      display: flex;
      margin: 15px;
      &:first-child {
         margin-left: 20px;
      }
      a:clicked {
         text-decoration: none;
      }
   }
}

.text {
   color: red;
}
