@import '../../css/colors.scss';
@import '../../css/animations.scss';

.content {
   margin-left: 170px;
}

.side-menu {
   width: 170px;
   height: 100%;
   background: $black;
   position: absolute;
   overflow: hidden;
   display: flex;
   align-items: center;
   flex-direction: column;
   color: white;
   .menu-header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 100%;
      //background: black;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   }
   .menu-item {
      position: relative;
      display: flex;
      align-items: center;
      height: 40px;
      width: 100%;
      .text {
         position: absolute;
         width: 100%;
         display: flex;
         justify-content: flex-start;
         align-items: center;
         padding: 10px;
      }
      .icon {
         position: absolute;
         padding: 10px;
         width: 100%;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         display: none;
         &:hover {
            display: inherit;
         }
      }
      &:hover {
         background-color: darken($black, 7%);
         cursor: pointer;
      }
   }
}

.selected {
   background-color: darken($black, 7%);
   cursor: pointer;
}

.selected-icon {
   @extend .fadein;
   position: absolute;
   padding: 10px;
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   &:hover {
      cursor: pointer;
   }
}

@media screen and (max-width: 1000px) {
   .side-menu {
      position: relative;
      height: auto;
      width: auto;
      margin: 10px;
      margin-bottom: 0px;
      .menu-item {
         .text {
            justify-content: center;
         }
         .icon {
            display: none;
            &:hover {
               display: none;
            }
         }
      }
   }
   .selected-icon {
      display: none;
   }
   .content {
      margin-left: 0;
   }
}

.column-header {
   width: 100%;
   height: 30px;
   background: $black;
   color: white;
   padding: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.column-item {
   width: 100%;
   height: 30px;
   background: white;
   display: flex;
   flex-direction: row;
   border-bottom: solid 1px rgba(0, 0, 0, 0.1);
   &:last-child {
      border-bottom: none;
   }
   div {
      padding: 10px;
   }
   div:first-child {
      display: flex;
      height: 100%;
      justify-content: flex-end;
      align-items: center;
   }
   div:last-child {
      display: flex;
      height: 100%;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;
   }
}
