@import '../../css/colors.scss';

.column-header {
   width: 100%;
   height: 30px;
   background: $black;
   color: white;
   padding: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.content {
   margin-left: 170px;
}

.column-item {
   width: 100%;
   height: 30px;
   background: white;
   display: flex;
   flex-direction: row;
   border-bottom: solid 1px rgba(0, 0, 0, 0.1);
   &:last-child {
      border-bottom: none;
   }
   div {
      padding: 10px;
   }
   div:first-child {
      display: flex;
      height: 100%;
      justify-content: flex-end;
      align-items: center;
   }
   div:last-child {
      display: flex;
      height: 100%;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;
   }
}
@media screen and (max-width: 1000px) {
   .content {
      margin-left: 0px;
   }
}
