@import '../../css/colors.scss';

.user-module {
   height: 100%;
   display: flex;
   flex-grow: 1;
   font-size: 1em;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   margin-right: 5px;
   input {
      height: 18px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      border: none;
      padding: 5px;
      margin: 5px;
      &:last-child {
         margin-right: 10px;
      }
   }
}

.personal {
   height: 100%;
   background: $red;
   display: flex;
   align-items: center;
   padding: 15px;
   margin-right: 12px;
}

.text {
   margin-right: 10px;
   color: white;
   font-size: 1.1em;
}

.account-icon {
   &:hover {
      color: $green;
      cursor: pointer;
   }
}
