@import '../../css/colors.scss';

.column-header {
   width: 100%;
   background: $black;
   color: white;
   padding: 5px;
   text-align: center;
}

.column-item {
   width: 100%;
   height: 30px;
   background: white;
}
