@mixin animate($name, $duration) {
   animation-name: #{$name};
   animation-duration: #{$duration};
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadein {
   @include animate(fadein, 1s)
}

/*
@keyframes example {

    from {background-color: red;}
    to {background-color: yellow;}
}

.fadeintest {
   animation-name: example;
   animation-duration: 4s;
}
*/
