:global {
   @import './animations.scss';
   @import './colors.scss';

   body {
      margin: 0;
      padding: 0;
      font-size: 15px;
      background: $grey;
      font-family: Akzidenz,"Helvetica Neue",Helvetica,Arial,sans-serif;
      //font-family: 'Raleway', sans-serif;
   }

   a,
   a:link,
   a:visited,
   a:hover,
   a:active {
       color: white; /*color of your choosing*/
       text-decoration: none;
       font-weight: normal;
   }

   *, *:after, *:before {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    $flexgrow: 4;

    @mixin flex-x-list {
     @for $i from 1 through $flexgrow {
         .flex-#{$i} {
            flex-grow: $i;
            word-wrap: break-word;
            padding-right: 10px;
            padding-bottom: 10px;
         }
     }
    }

    @include flex-x-list;

    @media screen and (max-width: 1000px) {
      [class*='flex-'] {
          width: 100%;
          padding-right: 0px;
      }
    }

    .flex {
       display: flex;
       flex-direction: row;
       padding: 10px;
       position: relative;
    }

    .list {
       display: flex;
       flex-direction: column;
       padding-bottom: 10px;
    }

    @media screen and (max-width: 1000px) {
       .flex {
          flex-wrap: wrap;
       }
    }

   .content-wrap {
      min-height: calc(100% - 50px);
      width: 100%;
      position: absolute;
   }


   /* GRID */
   $columns: 12;

   @mixin col-x-list {
     @for $i from 1 through $columns {
        .col-#{$i} {
           width: (($i) * (100%/$columns));
           float: left;
           word-wrap: break-word;
           padding-right: 10px;
           padding-bottom: 10px;
        }
     }
   }

   @include col-x-list;

   .last {
      padding-right: 0px;
   }

   .right {
      float: right;
   }

   .left {
      float: left;
   }

   .grid {
      padding: 10px;
      &:after {
         content: "";
         display: table;
         clear: both;
      }
   }

   @media screen and (max-width: 1000px) {
      [class*='col-'] {
         float: none;
         width: 100%;
         padding-right: 0px;
      }
      .last {
         padding-right: 0px;
      }
   }
   /* GRID */

   /* Rules for sizing the icon. */
   .material-icons.md-18 { font-size: 18px; }
   .material-icons.md-24 { font-size: 24px; }
   .material-icons.md-30 { font-size: 30px; }
   .material-icons.md-36 { font-size: 36px; }
   .material-icons.md-48 { font-size: 48px; }

   /* Rules for using icons as black on a light background. */
   .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
   .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

   /* Rules for using icons as white on a dark background. */
   .material-icons.md-light { color: rgba(255, 255, 255, 1); }
   .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

   /**
    * React Tipsy
    * ===========
    */
   .Tipsy {
     display: block;
     position: absolute;
     z-index: 1070;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-style: normal;
     font-weight: normal;
     letter-spacing: normal;
     line-break: auto;
     line-height: 1.42857143;
     text-align: left;
     text-align: start;
     text-decoration: none;
     text-shadow: none;
     text-transform: none;
     white-space: normal;
     word-break: normal;
     word-spacing: normal;
     word-wrap: normal;
     font-size: 12px;
     opacity: 0;
     filter: alpha(opacity=0);
   }
   .Tipsy.in {
     opacity: 1;
     filter: alpha(opacity=100);
   }
   .Tipsy.top {
     margin-top: -3px;
     padding: 5px 0;
   }
   .Tipsy.right {
     margin-left: 3px;
     padding: 0 5px;
   }
   .Tipsy.bottom {
     margin-top: 3px;
     padding: 5px 0;
   }
   .Tipsy.left {
     margin-left: -3px;
     padding: 0 5px;
   }
   .Tipsy-inner {
     background-color: #3A3939;
     border-radius: 4px;
     color: #FFFFFF;
     max-width: 200px;
     padding: 3px 8px;
     text-align: center;
   }
   .Tipsy-arrow {
     border-color: transparent;
     border-style: solid;
     height: 0;
     position: absolute;
     width: 0;
   }
   .Tipsy.top .Tipsy-arrow {
     bottom: 0;
     left: 50%;
     margin-left: -5px;
     border-width: 5px 5px 0;
     border-top-color: #3A3939;
   }
   .Tipsy.right .Tipsy-arrow {
     top: 50%;
     left: 0;
     margin-top: -5px;
     border-width: 5px 5px 5px 0;
     border-right-color: #3A3939;
   }
   .Tipsy.left .Tipsy-arrow {
     top: 50%;
     right: 0;
     margin-top: -5px;
     border-width: 5px 0 5px 5px;
     border-left-color: #3A3939;
   }
   .Tipsy.bottom .Tipsy-arrow {
     top: 0;
     left: 50%;
     margin-left: -5px;
     border-width: 0 5px 5px;
     border-bottom-color: #3A3939;
   }
}
